<form [formGroup]="formGroup">

  <div class="create-body1" *ngIf="classId;else create">
    <div class="create-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h2>Update Class</h2>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
            <p-button label="Update" icon="bi bi-pencil-square" styleClass="p-button-success mr-2"
              (click)="saveClass()"></p-button>
          </div>
          <div class="col-md-3">
            <p-button label="Back" icon="bi bi-arrow-left-circle" styleClass="p-button-outlined mr-2"
              (click)="back()"></p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="create-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <label class="col-form-label ">Class Name<span class="text-required">*</span></label><br>
            <input [(ngModel)]="inputUpdate.name" required type="text" pInputText formControlName="name"
              [style.width.%]="90" />
          </div>
          <div class="col-md-6">
            <label class="col-form-label ">Description<span class="text-required">*</span></label><br>
            <textarea [(ngModel)]="inputUpdate.description" required rows="2" cols="30" pInputTextarea
              formControlName="description" [style.width.%]="90"></textarea>
          </div>
          <div class="col-md-6">
            <label class="col-form-label ">Semester<span class="text-required">*</span></label><br>
            <select [(ngModel)]="inputUpdate.semester_id" formControlName="semester_id"
              style="width: 90%;height: 40px;">
              <option disabled selected>Pick a semester</option>
              <option *ngFor="let item of ListSetting" [value]="item.code">{{ item.value }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="col-form-label ">Teacher<span class="text-required">*</span></label><br>
            <select [(ngModel)]="inputUpdate.teacher_id" formControlName="teacher_id" style="width: 90%;height: 40px;">
              <option disabled selected>Pick a teacher</option>
              <option *ngFor="let item of ListUser" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="col-form-label ">Subject<span class="text-required">*</span></label><br>
            <select [(ngModel)]="inputUpdate.subject_id" formControlName="subject_id" style="width: 90%;height: 40px;">
              <option disabled selected>Pick a teacher</option>
              <option *ngFor="let item of ListSubject " [value]="item.id">{{item.subject_code + "-" +item.subject_name}}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="col-form-label ">Start Date<span class="text-required">*</span></label><br>
            <input [(ngModel)]="inputUpdate.start_date" required type="date" pInputText formControlName="start_date" /><br />
            <label class="col-form-label ">End Date<span class="text-required">*</span></label><br>
            <input [(ngModel)]="inputUpdate.end_date" required type="date" pInputText formControlName="end_date" />
          </div>
          <div class="col-md-6">
            <label class="col-form-label ">Status<span class="text-required">*</span></label><br>
            <input [(ngModel)]="inputUpdate.status" name="status" ng-control="status" type="radio" [value]="1" required
              type="radio" pInputText formControlName="status" /> Enable
            <input [(ngModel)]="inputUpdate.status" name="status" ng-control="status" type="radio" [value]="0" required
              type="radio" pInputText formControlName="status" /> Disable
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #create>
    <div class="create-body1">
      <div class="create-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h2>Create Class</h2>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
              <p-button label="Create" icon="bi bi-plus-square" styleClass="p-button-success mr-2"
                (click)="saveClass()"></p-button>
            </div>
            <div class="col-md-3">
              <p-button label="Back" icon="bi bi-arrow-left-circle" styleClass="p-button-outlined mr-2"
                (click)="back()"></p-button>
            </div>
          </div>
        </div>
      </div>

      <div class="create-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label ">Class Name<span class="text-required">*</span></label><br>
              <input [(ngModel)]="inputCreate.name" required type="text" pInputText formControlName="name"
                [style.width.%]="90" />
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Description<span class="text-required">*</span></label><br>
              <textarea [(ngModel)]="inputCreate.description" required rows="2" cols="30" pInputTextarea
                formControlName="description" [style.width.%]="90"></textarea>
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Semester<span class="text-required">*</span></label><br>
              <select [(ngModel)]="inputCreate.semester_id" formControlName="semester_id"
                style="width: 90%;height: 40px;">
                <option disabled selected>Pick a semester</option>
                <option *ngFor="let item of ListSetting" [value]="item.code">{{ item.value }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Teacher<span class="text-required">*</span></label><br>
              <select [(ngModel)]="inputCreate.teacher_id" formControlName="teacher_id"
                style="width: 90%;height: 40px;">
                <option disabled selected>Pick a teacher</option>
                <option *ngFor="let item of ListUser" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Subject<span class="text-required">*</span></label><br>
              <select [(ngModel)]="inputCreate.subject_id" formControlName="subject_id"
                style="width: 90%;height: 40px;">
                <option disabled selected>Pick a teacher</option>
                <option *ngFor="let item of ListSubject " [value]="item.id">{{item.subject_code + "-"
                  +item.subject_name}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Start Date<span class="text-required">*</span></label><br>
              <input [(ngModel)]="inputCreate.start_date" required type="date" pInputText
                formControlName="start_date" /><br />
              <label class="col-form-label ">End Date<span class="text-required">*</span></label><br>
              <input [(ngModel)]="inputCreate.end_date" required type="date" pInputText formControlName="end_date" />
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Status<span class="text-required">*</span></label><br>
              <input [(ngModel)]="inputCreate.status" name="status" ng-control="status" type="radio" [value]="1"
                required type="radio" pInputText formControlName="status" /> Enable
              <input [(ngModel)]="inputCreate.status" name="status" ng-control="status" type="radio" [value]="0"
                required type="radio" pInputText formControlName="status" /> Disable
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>