<div class="body-1">
  <div class="body-2">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <h3>List Project</h3>
      </div>
      <ng-template pTemplate="end">
        <p-button label="Add Project" icon="bi bi-pencil-square" styleClass="p-button-success mr-2" (click)="createProject()"></p-button>
      </ng-template>
    </p-toolbar>
    <p-table
    #dt1
    [value]="ListProject"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['subject_name']"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear()"></button>
            <span class="p-input-icon-left ml-auto">

            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">
              <div class="flex align-items-center">
                  #
                  <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
              </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex align-items-center">
                    Project Name
                </div>
            </th>
            <th style="min-width:15rem">
                <div class="flex align-items-center">
                    Class Name
                </div>
            </th>
            <th style="min-width:15rem">
              <div class="flex align-items-center">
                  Team Leader Name
              </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
                English Name
            </div>
        </th>
          <th style="min-width:15rem">
            <div class="flex align-items-center">
                Status
            </div>
        </th>
        <th style="min-width:15rem">
          <div class="flex align-items-center">
              Action
          </div>
      </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project let-rowIndex="rowIndex">
        <tr>
            <td>
              {{rowIndex + 1}}
            </td>
            <td>
               {{project.name}}
            </td>
            <td>
              {{project.class_name}}
            </td>
            <td>
              {{project.tlFirstName}} {{project.tlLastName}} 
            </td>
            <td>
              {{project.english_name}}
            </td>
            <td>
                <p style="color: green;" *ngIf="project.status == 1">Enable</p>
                <p style="color: red;" *ngIf="project.status == 0">Disable</p>
              </td>
              <td>
                <p-button  icon="pi pi-trash" styleClass="p-button-danger mr-2" ></p-button>
                <p-button  icon="bi bi-pencil-square" styleClass="p-button-outlined mr-2" ></p-button>
              </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
  </div>

</div>