<div class="parent clearfix">
  <div class="bg-illustration">
    <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

  <div class="login">
    <div class="container">
      <h1>Login to access to<br />your account</h1>

      <div class="login-form">
        <form #loginForm="ngForm">
          <input type="text"
                 placeholder="User Name"
                 [(ngModel)]="inputUserAndPass.username"
                 name="userName"
                 required
                 #username="ngModel"
                 [ngClass]="(username.invalid && (username.dirty || username.touched)) ? 'ng-invalid ng-dirty' : '' "
                 >
                 <div *ngIf="username.touched && !username.valid">
                  <span class="error-message-span mes-err" *ngIf="username.errors && username.errors['required']">{{'Không được để trống'}}</span>
                  </div>
          <input type="password"
                 placeholder="Password"
                 [(ngModel)]="inputUserAndPass.password"
                 name="passWord"
                 required
                 #PassWord="ngModel"
                 [ngClass]="(PassWord.invalid && (PassWord.dirty || PassWord.touched)) ? 'ng-invalid ng-dirty' : '' "
                 >
                 <div *ngIf="PassWord.touched && !PassWord.valid">
                  <span class="error-message-span mes-err" *ngIf="PassWord.errors && PassWord.errors['required']">{{'Không được để trống'}}</span>
                  </div>
          <div class="remember-form">
            <input type="checkbox">
            <span>Remember me</span>
          </div>
          <div class="forget-pass">
            <a href="#">Forgot Password ?</a>
          </div>

          <button type="submit" (click)="onLogin(loginForm)">LOG-IN</button>

        </form>
        <div class="g-signin2" data-width="300" data-height="200" data-longtitle="true"></div>
      </div>

    </div>
    </div>
</div>
