<form [formGroup]="formGroup">

  <div class="create-body1" *ngIf="assignmentId;else create">
    <div class="create-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h2>Update Assignment</h2>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
            <p-button label="Update" icon="bi bi-pencil-square" styleClass="p-button-success mr-2" (click)="saveAssignment()"></p-button>
          </div>
          <div class="col-md-3">
            <p-button label="Back" icon="bi bi-arrow-left-circle" styleClass="p-button-outlined mr-2" (click)="back()"></p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="create-body">
      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label ">Assignment Name<span class="text-required">*</span></label><br>
              <input [(ngModel)]="inputUpdate.name" required type="text" pInputText formControlName="name"
                [style.width.%]="90" />
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Description <span class="text-required">*</span></label><br>
              <textarea [(ngModel)]="inputUpdate.description" required rows="2" cols="30" pInputTextarea
                formControlName="description" [style.width.%]="90"></textarea>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label ">Subject <span class="text-required">*</span></label><br>
              <select pInputText [(ngModel)]="inputUpdate.subject_id" formControlName="subject_id"
                style="width: 90%;height: 60px;">
                <option disabled selected>Pick a subject</option>
                <option *ngFor="let item of listSubject" [value]="item.id">{{ item.subject_code + "-"
                  +item.subject_name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #create>
    <div class="create-body1">
      <div class="create-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h2>Create Assingment</h2>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
              <p-button label="Create" icon="bi bi-plus-square" styleClass="p-button-success mr-2"
                (click)="saveAssignment()"></p-button>
            </div>
            <div class="col-md-3">
              <p-button label="Back" icon="bi bi-arrow-left-circle" styleClass="p-button-outlined mr-2"
                (click)="back()"></p-button>
            </div>
          </div>
        </div>
      </div>

      <div class="create-body">
        <div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label ">Assignment Name<span class="text-required">*</span></label><br>
                <input [(ngModel)]="inputCreate.name" required type="text" pInputText formControlName="name"
                  [style.width.%]="90" />
              </div>
              <div class="col-md-6">
                <label class="col-form-label ">Description <span class="text-required">*</span></label><br>
                <textarea [(ngModel)]="inputCreate.description" required rows="2" cols="30" pInputTextarea
                  formControlName="description" [style.width.%]="90"></textarea>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label ">Subject <span class="text-required">*</span></label><br>
                <select pInputText [(ngModel)]="inputCreate.subject_id" formControlName="subject_id"
                  style="width: 90%;height: 60px;">
                  <option disabled selected>Pick a subject</option>
                  <option *ngFor="let item of listSubject" [value]="item.id">{{ item.subject_code + "-"
                    +item.subject_name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>