<div class="body-1">
  <div class="body-3">
    <div class="body-2">
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <h3>List Student Manager</h3>
        </div>
        <ng-template pTemplate="end">
          <p-button label="Add Student" icon="bi bi-pencil-square" styleClass="p-button-success mr-2" (click)="createStudent()"></p-button>
        </ng-template>
      </p-toolbar>
    </div>
    <div class="body-2">
      <p-table
        #dt1
        [value]="listClassStudent"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name']"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <button
              pButton
              label="Clear"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
              (click)="clear()"
            ></button>
            <span class="p-input-icon-left ml-auto"> </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">
                #
                <p-columnFilter
                  type="text"
                  field="name"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">Student Name</div>
            </th>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">Class Name</div>
            </th>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">Create By</div>
            </th>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">Update By</div>
            </th>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">Status</div>
            </th>
            <th style="min-width: 15rem">
              <div class="flex align-items-center">Action</div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-classStudent let-rowIndex="rowIndex">
          <tr>
            <td>
              {{ rowIndex + 1 }}
            </td>
            <td>
              {{ classStudent.userFirstName + " " + classStudent.userLastName }}
            </td>
            <td>
              {{ classStudent.className }}
            </td>
            <td>
              {{ classStudent.created_by }}
            </td>
            <td>
              {{ classStudent.updated_by }}
            </td>
            <td>
              <p style="color: green;" *ngIf="classStudent.status == 1">Enable</p>
              <p style="color: red;" *ngIf="classStudent.status == 0">Disable</p>
            </td>
            <td>
              <p-button  icon="pi pi-trash" styleClass="p-button-danger mr-2" (click)="deleteStudent(classStudent.id)"></p-button>
              <p-button  icon="bi bi-pencil-square" styleClass="p-button-outlined mr-2" (click)="updateStudent(classStudent)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
