<form>
  <div class="create-body1" *ngIf="username;else create">
    <div class="create-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h2>Create User</h2>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
            <div class="btn-back ">
              <a class="backDetail" ><i class="fa fa-arrow-left"></i> Update</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="btn-back btn-back1">
              <a class="backDetail" (click)="back()"><i class="fa fa-arrow-left"></i> Quay lại</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="create-body">
      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <label class="col-form-label ">Name User <span class="text-required">*</span></label><br>
              <input type="text" pInputText formControlName="text" [style.width.%]="90"/>
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Subject Name <span class="text-required">*</span></label><br>
              <input type="text" pInputText formControlName="text" [style.width.%]="90"/>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label ">Start Date <span class="text-required">*</span></label><br>
              <input type="date" [style.width.%]="80">
            </div>
            <div class="col-md-3">
              <label class="col-form-label ">Subject Code <span class="text-required">*</span></label><br>
              <input type="text" pInputText formControlName="text" [style.width.%]="80"/>
            </div>
            <div class="col-md-6">
              <label class="col-form-label ">Description <span class="text-required">*</span></label><br>
              <textarea rows="5" cols="30" pInputTextarea [style.width.%]="90"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #create>
    <div class="create-body1" >
      <div class="create-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h2>Create User</h2>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
              <div class="btn-back ">
                <a class="backDetail" ><i class="fa fa-arrow-left"></i> Create</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="btn-back btn-back1">
                <a class="backDetail" (click)="back()"><i class="fa fa-arrow-left"></i> Quay lại</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="create-body">
        <div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label ">Name User <span class="text-required">*</span></label><br>
                <input type="text" pInputText formControlName="text" [style.width.%]="90"/>
              </div>
              <div class="col-md-6">
                <label class="col-form-label ">Subject Name <span class="text-required">*</span></label><br>
                <input type="text" pInputText formControlName="text" [style.width.%]="90"/>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <label class="col-form-label ">Start Date <span class="text-required">*</span></label><br>
                <input type="date" [style.width.%]="80">
              </div>
              <div class="col-md-3">
                <label class="col-form-label ">Subject Code <span class="text-required">*</span></label><br>
                <input type="text" pInputText formControlName="text" [style.width.%]="80"/>
              </div>
              <div class="col-md-6">
                <label class="col-form-label ">Description <span class="text-required">*</span></label><br>
                <textarea rows="5" cols="30" pInputTextarea [style.width.%]="90"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</form>
